menu "Non-Transparent Bridge Support (EXPERIMENTAL)"

config NTB
	tristate
	default n
	depends on PCI && X86 && EXPERIMENTAL

config NTB_B2B
	tristate "NTB Back to Back Mode"
	depends on PCI && X86 && EXPERIMENTAL
	select NTB
	help
	  This is the NTB mode where both hosts have NTB hardware and they
	  are connected to each other.

config NTB_RP
	tristate "NTB Classic Mode"
	depends on PCI && X86 && EXPERIMENTAL
	select NTB
	help
	  This is the classic NTB mode where only the primary host has the
	  NTB hardware. This is the mode for the primary host.

config RP_NTB 
	tristate "NTB Rootport Mode"
	depends on PCI && X86 && EXPERIMENTAL
	select NTB
	help
	  This is the classic NTB mode where only the primary host has the
	  NTB hardware. This is the mode for the secondary host that only
	  has the root port.

config NTB_ETH 
	tristate "ntbeth: NTB to Ethernet emulation"
	depends on PCI && X86 && EXPERIMENTAL
	help
	  ntbeth is a Linux network driver that uses NTB PCI-E Link as
	  point-to-point link between two electrically separated
	  systems. The driver registers itself as Ethernet driver into
	  the Linux TCP/IP stack.  Primary purpose of this driver is to
	  show how NTB link can be used as connection link between two
	  systems to exchange data using NTB provided Windows into
	  remote system and use door bells to provide asynchronous
	  notifications to remote system

	  If you are building the kernel for a Jasper Forest or Jaketown
	  system say Y

	  If unsure, say N

endmenu
