menuconfig NTB
       tristate "Non-Transparent Bridge support"
       depends on PCI
       help
        The PCI-E Non-transparent bridge hardware is a point-to-point PCI-E bus
        connecting 2 systems.  When configured, writes to the device's PCI
        mapped memory will be mirrored to a buffer on the remote system.  The
        ntb Linux driver uses this point-to-point communication as a method to
        transfer data from one system to the other.

        If unsure, say N.

if NTB

comment "NTB Devices"

config NTB_XEON
       tristate "Intel Xeon Non-Transparent Bridge support"
       depends on NTB
       depends on X86
       help
	This driver supports Intel Xeon family of Non-Transparent Bridge devices

        If unsure, say N.

config NTB_ATOM
       tristate "Intel Atom Non-Transparent Bridge support"
       depends on NTB
       depends on X86
       help
	This driver supports Intel Atom family of Non-Transparent Bridge devices

        If unsure, say N.

endif
